<div id="main-vue-wrapper" data-user-id="{{userId}}" data-user-name="{{userName}}" data-user-status="{{userStatus}}" data-company-name="{{companyName}}" data-company-logo="{{logo}}">
	<div id="user"></div>

	<div class="modal" style="margin-top: 100px;" id="helpModal" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        <h4 id="help-modal-text"></h4>
	      </div>
	    </div>
	    
	  </div>
	</div>
</div>