<div data-user-id="{{userId}}" data-user-name="{{userName}}" data-user-status="{{userStatus}}" data-company-name="{{companyName}}">
	<div class="row" id="resetpasswordpage">
		<div>
			<div class="login-form">
				<div>
				<h1> Compliance Manager</h1>
				    <div class="forgot-form login-block">
				    	<label for="email">Email</label>

				    	<div>
				    	    <input id="reset-pw-input" v-model="userEmail" type="text"   autocomplete="off"  class="form-control">
				    	</div>
				    </div>
				    
				    <div class="login-block">
				        <div class="login-button-block">
				            <button :disabled="disabled" id="reset-pw-submit" v-on:click="submitForgot" class="btn btn-primary" >Submit </button>  <span class="loader" v-show="msg"></span>
				        </div>
				    </div>

			</div>
            
            <h4 v-text="success" class="text-success"></h4>
            <h4 v-text="error" class="text-danger"></h4>
        </div>
	</div>

	<div class="notification-console">
	  <p>&nbsp;\{{msg}} </p>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/scripts/vue/dist/vue.js"></script>
<script src="/scripts/vue-resource/dist/vue-resource.js"></script>
<script src="/public/js/app/forgot.js"></script>
